<div class="container">
    <h2> Account has been permanently deleted. We hoped you enjoy your experience with Jobstarts!</h2>
    <p> To create a new account, click on the link below.</p>
    <a href="/"> Create New Account </a>

</div>