<div class="container">

<div class="card" style="width: 18rem;">
  <img src="{{oneUser.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{oneUser.fullname}}</h5>
    <p class="card-text">{{oneUser.about}}</p>
    <a href="/startChat/{{oneUser._id}}" class="btn btn-primary">Send Message</a>
  </div>
</div>
</div>
